__pycache__/__init__.cpython-310.pyc
__pycache__/Button.cpython-310.pyc
__pycache__/Classes.cpython-310.pyc
__pycache__/GlobalValues.cpython-310.pyc
__pycache__/MyCustomNodes.cpython-310.pyc
__pycache__/MyCustomSocket.cpython-310.pyc
__pycache__/MyCustomTree.cpython-310.pyc
MySockets/__pycache__/CGRA_INTERFACE.cpython-310.pyc
MySockets/__pycache__/enum_list.cpython-310.pyc
MySockets/__pycache__/print_info.cpython-310.pyc
MySockets/__pycache__/text.cpython-310.pyc
